.inputWrapper {
	position: relative;
}

.input {
	width: 100%;
	padding: 7px 15px;

	color: var(--black);
	border: unset;
	border-radius: 5px;
	background: var(--white);
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 22px;
}

.input:focus-visible {
	outline: 2px solid var(--primary);
}

.input::placeholder {
	color: --gray-dark;
}

.error:focus-visible {
	outline: 2px solid var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -22px;
	left: 8px;

	color: var(--red);
}
