.footer {
	background-color: var(--primary);
}

.footer a:hover {
	color: var(--gray-light);
}

.wrapper {
	display: grid;
	padding: 25px 30px;
	grid-template-columns: 1fr auto auto;
	gap: 10px 40px;
	color: var(--white);
	font-size: 16px;
	line-height: 20px;
	max-width: 1510px;
	justify-items: center;
	margin: 0 auto;
}

@media (max-width: 765px) {
	.wrapper {
		grid-template-columns: 1fr;
	}
}
