.develop {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 80px auto;
	gap: 10px;

	height: 100%;
	justify-items: center;
}

.text {
	margin: unset;

	text-align: center;
}

.title {
	align-self: flex-end;

	text-align: center;

	font-size: 50px;
	line-height: unset;
}
