.filled svg {
	fill: var(--primary);
}

.star svg {
	margin-right: 5px;
}

.star {
	display: inline-block;
}

.editable {
	cursor: pointer;
}

.ratingWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	color: var(--red);
	bottom: -22px;
	left: -73px;
}

.isError svg {
	stroke: var(--red);
}
