.error {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 30px auto;
	gap: 10px;

	height: 100%;
	justify-items: center;
}

.notFound {
	margin: unset;
}

.error404 {
	align-self: flex-end;

	font-size: 130px;
	line-height: unset;
}
