html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background-color: #f5f6f8;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3b434e;
	--gray: #6c7077;
	--gray-dark: #a4a4a4;
	--gray-light: #ebebeb;
	--white: white;
	--primary: #7451f4;
	--primary-hover: #755cdd;
	--red: #fc836d;
	--red-light: #f3b4a9;
	--green: #127a4d;
	--green-light: #c8f8e4;
	--font-family: 'Noto Sans KR', sans-serif;
}

.body {
	overflow: hidden;
}
