.category {
	height: 100%;
	padding: 15px;
}

.courses {
	display: grid;
	gap: 10px 15px;
	grid-template-columns: 1fr;
}

.courseName {
	margin-bottom: 5px;
}

.courseLink:hover {
	color: var(--primary);
}
